@media (min-width: 780px) {
  #logo {
    width: 385px !important;
  }
}

@media (min-width: 780px) {
  #slider-div {
    margin-right: 85px;
    margin-left: 85px;
  }
}

@media (max-width: 576px) {
  .big-img {
    width: 300px !important;
  }
}

@media (max-width: 576px) {
  .big-text {
    font-size: 18px !important;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .small-text {
    font-size: 18px !important;
    padding: 0px !important;
    text-align: center !important;
  }
}

