/* style.css of ibm-intermediate-web-dev/assets/css */
* {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif, Consolas;
  box-sizing: border-box;
}

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 15px;  /* 1.2rem; */
  text-align: left;
  margin-left: 1rem;
}

/* clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 400px;
}
  .displayed {
    display: block;
    margin: 0 auto; 
  }
  .border {
    border: 2px solid #778899;  /* dark grayish blue */
  }

blockquote {
  margin: .5em 0 .5em .85em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;  /* very light gray */
  color: #606060;  /* very dark gray */
}
hr {
  background-color: #1a1a1a;  /* very dark gray */
  border: none;
  height: 1px;
  margin: 1em 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: 0.75em;
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;  /* very dark gray (mostly black) */
  border-bottom: 1px solid #1a1a1a;  /* very dark gray (mostly black) */
}
th {
  border: 1px solid black;
  margin: 1em 0;
  padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
  border: 1px solid black;
  padding: 0.125em 0.5em 0.25em 0.5em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #8b0000;  /* dark red */
  color: #fdfeff;  /* very pale (mostly white) blue */
  cursor: pointer;
  padding: 10px;
  border-radius: 1px;
}
#myBtn:hover {
  background-color: #555;  /* very dark gray */
}

pre {
  overflow: auto;
  font-family: Consolas, monospace, monospace;
  font-size: 10px;
  margin-left: 10px;
}
pre > code {
  display: block;
  margin-left: 10px;
  padding: 1rem;
  word-wrap: normal;
}

a {
  text-decoration: none;
}
a.hover {
  color: #ffff00;  /* pure (or mostly pure) yellow */
  text-decoration: underline;
}
a.hover:hover {
  color: #ffff00;  /* pure (or mostly pure) yellow */
  text-decoration: underline;
}

h2 { 
  font-size: 20px;
  margin-left: 1rem;
}
h3 { 
  font-size: 17px;
  margin-left: 1rem;
}
h4 { 
  font-size: 13px;
  margin-left: 1rem;
}
h5 { 
  font-size: 12px;
  margin-left: 1rem;
}
h6 { 
  font-size: 10px;
  margin-left: 1rem;
}
h1 {
  font-size: 2em;
  margin-left: 1rem;
}

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%)

.wrapper {
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: Bahnschrift;
  margin-left: 1rem;
  text-indent: 15px;
  line-height: 110%;
}

ol, ul {
  padding: 10px;
  margin: 10px;
  line-height: 150%;
  overflow: hidden;  /* establish margin clearance for li */
}

@media screen and (max-width: 480px) {
  body {
    background-color: #e3fae5;  /* light grayish lime green - phones */
  }
}
@media screen and (max-width: 850px) {
  body {
    background-color: #f9f6ed;  /* very grayish yellow - lt brown - tablet */
  }
}
