p {
  font-size: 15px;
  font-family: Bahnschrift;
  margin: 1em 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .displayed {
    display: block;
    margin: 0 auto; 
  }
  .border {
    border-width: 1px;
    border-color: #778899;
    border-style: solid; 
  }
